trigger:
  - master

pool:
  vmImage: 'ubuntu-latest'

steps:

- task: DotNetCoreCLI@2
  displayName: 'dotnet test'
  inputs:
    command: 'test'
    projects: 'test/Hansalytics.Compilers.TSQL.UnitTests/Hansalytics.Compilers.TSQL.UnitTests.csproj'

- task: DotNetCoreCLI@2
  displayName: 'dotnet pack'
  inputs:
    command: 'pack'
    packagesToPack: 'src/Hansalytics.Compilers.TSQL/Hansalytics.Compilers.TSQL.csproj'
    packDirectory: '$(Build.ArtifactStagingDirectory)'
    versioningScheme: 'byPrereleaseNumber'
    majorVersion: '0'
    minorVersion: '2'
    patchVersion: '0'
          
- task: NuGetCommand@2
  inputs:
    command: 'push'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
    nuGetFeedType: 'internal'
    publishVstsFeed: '/046a240b-6c64-42c5-afa4-370eb3c1c04a'